.menu-btn {
  position: absolute;
  z-index: 2;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.97;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #444;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #373737;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .potrait {
      width: 250px;
      height: 250px;
      background: url("../img/me.jpeg");
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #4873ff; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #4873ff; }
  .menu .nav-link {
    position: relative;
    height: 40px;
    display: block;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 2px;
    overflow: hidden;
    transition: all 0.5s ease-out; }
  .menu .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4873ff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    transition-delay: 0s; }
  .menu .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.5s; }
  .menu .nav-link span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #ffff;
    font-size: 20px;
    transition-delay: 0.1s; }
  .menu .nav-link:hover span:nth-child(1) {
    transform: translateY(-100%); }
  .menu .nav-link:hover span:nth-child(2) {
    transform: translateY(-100%); }
  .menu .nav-item:nth-child(1) {
    transition-delay: 0.1s; }
  .menu .nav-item:nth-child(2) {
    transition-delay: 0.2s; }
  .menu .nav-item:nth-child(3) {
    transition-delay: 0.3s; }
  .menu .nav-item:nth-child(4) {
    transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }

h1, h2, h3 {
  margin: 0;
  font-weight: 300; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #4873ff; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #4873ff;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden;
    z-index: 1; }
    main#home h1 {
      margin-top: 20vh; }

.intro {
  z-index: 1; }

#contact {
  z-index: 1; }

section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4873ff; }

section .wave span {
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000; }

section .wave span:nth-child(1) {
  animation: animate 5s linear infinite;
  border-radius: 45%;
  background: #141414; }

section .wave span:nth-child(2) {
  animation: animate 10s linear infinite;
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5); }

section .wave span:nth-child(3) {
  animation: animate 15s linear infinite;
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5); }

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg); }
  100% {
    transform: translate(-50%, -75%) rotate(360deg); } }

.about-info {
  z-index: 1; }

.bio-image {
  border-radius: 50%;
  border: #4873ff 3px solid; }

.headings {
  display: flex; }

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1; }

.container .job {
  width: 280px;
  height: 300px;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); }

.container .job .content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  opacity: 1; }

.container .job .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1; }

.container .job .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300; }

.container .job .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  font-weight: 500; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects .textOverImage {
    position: relative; }
    .projects .textOverImage .img_description {
      position: absolute;
      bottom: 0;
      right: 0;
      background: black;
      color: #4873ff;
      margin-bottom: 5px;
      font-family: sans-serif;
      opacity: 0;
      visibility: visible; }
    .projects .textOverImage:hover .img_description {
      width: 100%;
      padding: 8px 15px;
      visibility: visible;
      opacity: 0.9;
      border-color: #4873ff; }
  .projects img {
    width: 100%;
    height: 200px;
    border: 3px #fff solid; }
    .projects img:hover {
      transition: all 0.5s ease-out; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #4873ff;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .potrait {
      width: 150px;
      height: 150px; }
  .intro {
    height: 25vh; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .headings {
    margin-top: 90vh;
    display: block; }
  .container {
    display: grid; } }
