@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
    
}

body{
    @include background();
    background: $primary-color;
    color:set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,h2,h3{
    margin: 0;
    font-weight: 300;

    &.lg-heading{
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2),0.5);
    }
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index:2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    // height: 100%;
    //sticky footer
    //vh height minus height of the footer
    min-height: calc(100vh - 60px);

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        z-index: 1;
        h1{
            margin-top: 20vh;
        }
    }
}
#contact{
    z-index: 1;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background:$secondary-color;
}

section .wave span{
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    
}

section .wave span:nth-child(1){
    animation: animate 5s linear infinite;
    border-radius: 45%;
    background: rgba(20,20,20,1);
}

section .wave span:nth-child(2){
    animation: animate 10s linear infinite;
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
}

section .wave span:nth-child(3){
    animation: animate 15s linear infinite;
    border-radius: 42.5%;
    background: rgba(20,20,20,0.5);
}

@keyframes animate{
    0%
    {
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-75%) rotate(360deg);
    }
} 


//About page
.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}
.bio-image{
    grid-area: bioimage;
    margin:auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}
.bio{
    grid-area: bio;
    font-size: 1.5rem;
}
.job1{
    grid-area: job-1;
}
.job2{
    grid-area: job-2;
}
.job3{
    grid-area: job-3;
}
.job{
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

//Projects
.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);
    
    .textOverImage{
        position: relative;

        .img_description{
            position: absolute;
            bottom: 0;
            right: 0;
            background: black;
            color: $secondary-color;
            margin-bottom: 5px;
            font-family: sans-serif;
            opacity: 0;
            visibility: visible;
        }

        &:hover .img_description{
            width: 100%;
            padding: 8px 15px;
            visibility: visible;
            opacity: 0.9; 
            border-color: $secondary-color;
        }   
    }

    img{
        width: 100%;
        height: 200px;
        border:3px #fff solid;

        &:hover{
            // opacity: 0.3;
            @include easeOut;
        }

        
    }

    
}

//Button styles
.btn{
    display:block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;

}

.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
    
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color:set-text-color($primary-color);
    height: 60px;
}

//media query at the bottom because we want to run after initial css
@import 'mobile';